
html,body{
	font-size: 4px;
	font-family: sans-serif;
	background-color: #00a09b;
	
	
}

.header{
	background-color: white;
	border:2px dotted red;
	display: flex;
	padding: 0rem;
	margin: 0rem;
	font-size: 3.5rem;
	flex-direction: row;
	overflow: auto;
}
.header_left{
	color: grey;
	font-size: 4rem;
	display: flex;
	font-family: verdana;
	padding: 2rem;
	vertical-align: center;
	flex-direction: row;
	border: 2px dotted green;


}
.header_left_title{
	color: #00a09b;
	font-size: 5rem;
	border: 2px dotted #00a09b;

}
.header_right{

}

.header_right_user_section{

}
.header_right_username{

}


.body{
	
	
}



//left tab design
.left_screen{

	background-color: #00a09b;
	padding: 3rem;

}
.left_tab{
	background-color: #FFFFFF;
	border-radius: 2rem;
	border: 2px solid #00a09b;
	display: flex;
	flex-direction: column;
	max-width: 100rem;
	min-width:35rem;
	padding: 3rem;

}
.left_tab_title{
	border: 1rem solid blue;
	display: flex;
	flex-shrink: 20%;
	font-size: 5rem;
	justify-content: center;


}



ul {
	align-items: center;
	background-color: #00a09b;
	border-radius: 3px;
	border: 5px black solid;
	color: #00a09b;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	flex:1 1 5rem;
	height: 25rem;
	
}

.left_item{
	color red;
	background-color: white;
	font-size: 4rem;
	border-radius: 5px;
	align-items: stretch;
	font:verdana;
	padding: 5rem;
	margin: 2rem;
	border: 2px red dotted;
}

.books {
display: flex;
flex-direction: row;
}

.book{
	display: flex;
	flex-direction: column;

}

.book_image{
	display: flex;
	min-width: 25rem;
	max-width: 30rem;
	flex-direction: column;

}
.book_information{
	display: flex;
	flex-direction: row;

}
.book_name_section{
	display: flex;
	flex-direction: column;

}
.book_name{
	display: flex;
	color: 00a09b;
}
.book_size{
	display: flex;
	color: #7D7979;
}
.book_options{

}